@charset "ISO-8859-1";

* {
	box-sizing: border-box;
}

body .ui-datepicker .ui-datepicker-calendar td a.ui-state-active {
	background-color: #007ad9 !important;
	color: #fff !important;
}

body .ui-datepicker{
	position: relative;
	left: 80%;
}

.ui-log {
        left: 500px;
        top: 250px;
    }

.ui-fileupload-row > .ui-fileupload-filename { 
	display: none !important;
}

#formCi\:statDialog_content{
	padding: 0px;
	height: 30px !important;
	width: 400px !important;
	margin: -6px;
	background-color: transparent;
}

#formCi\:loadingbar {
	height: 32px;
	width: 400px;
	margin: 0px;
	padding: 0px;
}

/*#formCi\:sigilosa{
	color: white;
	width: fit-content;
}*/

textarea {
	resize: none;
}

#formCi\:atencao {
	text-align: left;
}

#formCi\:descricao {
	width: 100%;
}

#contador {
	text-align: right;
	padding: inherit;
}

body .ui-staticmessage.ui-message {
	width: 100%;
}
 
#tabdialog {
	border: 1px solid darkgray;
	text-align: center;
	width: 100%;
}

.text{
	text-align: left;
}

#formCi\:cd {
	text-align: left;
}

#formCi\:cd_content {
	text-align: left;
}


h1 {
	text-align: center;
}

.red {
	color: red;
}

.centeredText {
	text-align: center
}

.bolderText {
	font-weight: bolder;
}

#formCi {
	position: relative;
	top: 3rem;
}

.panelGridCadCi{
	position: relative;
	top: 0;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	align-content: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

#formCi\:blockui {
	border-radius: 50%;
	height: 6.25rem;
	width: 6.25rem;
	padding: 0;
	margin: 0;
}


img#formCi\:loading {
	border-radius: 50%;
	width: 100%;
	height: 100px;
	width: 100px;
}


#formCi\:cancelar {
	background: red;
	border: 1px solid red;
	width: 50%;
}

#formCi\:salvar {
	width: 50%;
}

#formCi\:cancelar:hover {
	background: #f44336;
	border: 1px solid #f44336;
}


#formCi\:buttonPanel{
	text-align: center;
}

.input {
	width: 96%;
}

.fontBolder {
	font-weight: bolder;
}

.container {
	position: relative;
	width: 0%;
	float: none;
}

#header {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: fit-content;
}

body .ui-button {
	background-color: #64a9a4;
	border: 1px solid #64a9a4;
}

.imageCentered {
	text-align: center;
}




@media only screen and (max-width: 600px) {
	
	
	.panelGridCadCi{
		position: relative;
		margin-top: 6%;
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
		align-content: center;
	}
	
	#content {
		position: relative;
		bottom: 1%;
	}
	
	#formCi\:cancelar {
		background: red;
		border: 1px solid red;
		width: 100%;
		left: 0;
	}
	#formCi\:salvar {
		width: 100%;
	}
	
	body .ui-datepicker{
		position: relative;
		left: 0;
	}

	
}

@media only screen and (max-width: 800px) {
	
	
	/*#formCi\:compensacao {
		position: relative;
		left: 0;
	}*/
	
	.panelGridCadCi{
		position: relative;
		margin-top: 6%;
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
		align-content: center;
	}
	
	
	.container {
		position: relative;
	}
	

	
	
}


@media only screen and (max-width: 1024px) {
	
	* {
		box-sizing: border-box !important;
	}
	
	html {
		height: 0px;
		width: 100%;
	}
	
	#cadForm {
		position: relative;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		margin-top: 0;
	}
	
	.panelGridCadCi{
		position: relative;
		margin-top: 3%;
		top: 0;
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
		align-content: center;
	}
	

	
}

@media only screen and (max-width: 1280px) {
	
	* {
		box-sizing: border-box !important;
	}
	
	html {
		height: 0px;
		width: 100%;
	}
	
	#cadForm {
		position: relative;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		margin-top: 0;
	}
	
	.panelGridCadCi{
		position: relative;
		margin-top: 3%;
		top: 0;
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
		align-content: center;
	}
	
	
}

