@charset "ISO-8859-1";

* {
	box-sizing: border-box;
}

body .ui-datepicker .ui-datepicker-calendar td a.ui-state-active {
	background-color: #007ad9 !important;
	color: #fff !important;
}

body .ui-datepicker{
	position: relative;
	left: 80%;
}

.ui-log {
        left: 500px;
        top: 250px;
    }
 
#tabdialog {
	border: 1px solid darkgray;
	text-align: center;
	width: 100%;
}

.text{
	text-align: left;
}

#formCiComp\:cd {
	text-align: left;
}

#formCiComp\:cd_content {
	text-align: left;
}


h1 {
	text-align: center;
}

.red {
	color: red;
}

.centeredText {
	text-align: center
}

.bolderText {
	font-weight: bolder;
}

#formCiComp {
	position: relative;
	top: 3rem;
}

.panelGridCadCiComp {
	position: relative;
	top: 0;
	width: 50%;
	margin-left: 25%;
	margin-right: 25%;
	align-content: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

#formCiComp\:blockui {
	border-radius: 50%;
	height: 6.25rem;
	width: 6.25rem;
	padding: 0;
	margin: 0;
}

img#formCiComp\:loading {
	border-radius: 50%;
	width: 100%;
}


#formCiComp\:cancelar {
	background: red;
	border: 1px solid red;
	width: 50%;
}

#formCiComp\:salvar {
	width: 50%;
}

#formCiComp\:cancelar:hover {
	background: #f44336;
	border: 1px solid #f44336;
}


#formCiComp\:buttonPanel{
	text-align: center;
}

.input {
	width: 96%;
}

.fontBolder {
	font-weight: bolder;
}

.container {
	position: relative;
	width: 0%;
	float: none;
}

#header {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: fit-content;
}

body .ui-button {
	background-color: #64a9a4;
	border: 1px solid #64a9a4;
}

.imageCentered {
	text-align: center;
}




@media only screen and (max-width: 600px) {
	
	
	.panelGridCadCiComp {
		position: relative;
		margin-top: 6%;
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
		align-content: center;
	}
	
	#content {
		position: relative;
		bottom: 1%;
	}
	
	#formCiComp\:cancelar {
		background: red;
		border: 1px solid red;
		width: 100%;
		left: 0;
	}
	#formCiComp\:salvar {
		width: 100%;
	}
	
	body .ui-datepicker{
		position: relative;
		left: 0;
	}

	
}

@media only screen and (max-width: 800px) {
	
	
	/*#formCiComp\:compensacao {
		position: relative;
		left: 0;
	}*/
	
	.panelGridCadCiComp {
		position: relative;
		margin-top: 6%;
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
		align-content: center;
	}
	
	
	.container {
		position: relative;
	}
	

	
	
}


@media only screen and (max-width: 1024px) {
	
	* {
		box-sizing: border-box !important;
	}
	
	html {
		height: 0px;
		width: 100%;
	}
	
	#cadForm {
		position: relative;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		margin-top: 0;
	}
	
	.panelGridCadCiComp {
		position: relative;
		margin-top: 3%;
		top: 0;
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
		align-content: center;
	}
	

	
}

@media only screen and (max-width: 1280px) {
	
	* {
		box-sizing: border-box !important;
	}
	
	html {
		height: 0px;
		width: 100%;
	}
	
	#cadForm {
		position: relative;
		width: 100%;
		top: 0;
		left: 0;
		right: 0;
		margin-top: 0;
	}
	
	.panelGridCadCiComp {
		position: relative;
		margin-top: 3%;
		top: 0;
		width: 100%;
		margin-left: 0%;
		margin-right: 0%;
		align-content: center;
	}
	
	
}

