@charset "ISO-8859-1";

* {
	box-sizing: border-box;
}


html, body {
	height: 100%;
	width: 100%;
}

h1 {
	text-align: center;
}

.red {
	color: red;
}

.centeredText {
	text-align: center
}

.bolderText {
	font-weight: bolder;
}

#cadForm {
	position: relative;
	top: 10px;
	padding: 1%;
	width: 60%;
	margin-left: 20%;
	margin-right: 20%;
	align-content: center;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0
		rgba(0, 0, 0, 0.19);
}

#cadForm\:destinatarios, #cadForm\:grupos {
		min-width: 0 !important;
		width: 100% ;
}


.without-selectall .ui-selectcheckboxmenu-header .ui-chkbox{
	display: none;
}

#cadForm\:blockui {
	border-radius: 50%;
	height: 6.25rem;
	width: 6.25rem;
	padding: 0;
	margin: 0;
}


img#cadForm\:loading {
	border-radius: 50%;
	width: 100%;
	height: 100px;
	width: 100px;
}

#cadForm\:atencao {
	text-align: left;
}

#cadForm\:agcriacao{
	color: white;
}

.input {
	width: 100%;
}

#contador {
	text-align: right;
	padding: inherit;
}

textarea {
	resize: none;
}

#cadForm\:escudo {
	width: 10%;
}


.fontBolder {
	font-weight: bolder;
}

.container {
	position: relative;
	width: 0%;
	float: none;
}

#header {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;
	height: fit-content;
}

body .ui-button {
	background-color: #64a9a4;
	border: 1px solid #64a9a4;
}

.imageCentered {
	text-align: center;
}

.red-background {
	background-color: red !important;
	color: white !important;
	display: block;
}

.blue-background {
	background-color: steelblue !important;
	color: white !important;
	display: block;
}

.orange-background {
	background-color: orange !important;
	color: white !important;
	display: block;
}

@media only screen and (max-width: 600px) {
	
	#cadForm {
		position: relative;
		width: 90%;
		margin-left: 5%;
		margin-right: 5%;
		align-content: center;
	}
	
	#cadForm\:setornovo{
		min-width: 0 !important;
		width: 100% !important;
	}

	#cadForm\:setornovo_panel {
		min-width: 0 !important;
		width: 100% !important;
	}
	
	#content {
		position: relative;
		bottom: 1%;
	}	
}
	